* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* start-header */
body {
    position: relative;
}

header {
    position: absolute;
    z-index: 2;
    width: 100%;
}

header nav i {
    font-size: 45px;
    color: #35a22c;
}

header nav span {
    color: rgb(255, 255, 255);
    font-size: 2.2rem;

}

#navbarNav ul li a {
    position: relative;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    font-weight: 400;
}

#navbarNav ul li a::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #35a22c;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

#navbarNav ul li a:hover {
    color: #35a22c;

}

#navbarNav ul li a:hover::before {
    width: 100%;
}

#navbarNav .nav-item .active {
    color: #35a22c;
}

#navbarNav .nav-item .active::before {
    content: "";
    width: 100%;
    color: #35a22c;
}

/* end-header */

/* start-carousel */
#carousel {
    position: relative;
}

#carousel .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

#carousel .carousel-indicators li.active {
    background-color: #35a22c;

}

.carousel-item {
    height: 100vh;
}

.carousel__bg {
    filter: brightness(50%) contrast(90%);
}

.carousel__bg img {
    object-position: bottom center;
}

.carousel-caption img {
    border-radius: 50%;
    width: 13%;
}

.carousel-caption h2 {
    font-weight: 400;
}

.carousel-caption p {
    font-size: 1.5rem;
}

.carousel-caption {
    transform: translateY(-50%);
}

/* end-carousel */

/* start-product */
/* #product ul li a {
    color: #222;
    border: 1px solid #222;
    margin: 0 5px;
} */

.product__title p {
    padding: 0 150px;
    color: #585858;
    font-size: 15px;
}

.nav-pills .nav-item .nav-link{
    color: #222;
    border: 1px solid #222;
    margin: 0 5px;

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: white;
    background: #35a22c;
    border: 1px solid #35a22c;
}

.product__item {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

.product__item img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.product__item .container__item .item__title h5 {
    font-weight: 400;
}

.product__item .item__title {
    border: 1px solid rgb(255, 255, 255);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: 0.3s;

}

.product__item:hover .item__title {
    border-color: #35a22c;
    border-top-color: rgb(255, 255, 255);
    color: #35a22c;

}

.product__item:hover p {
    color: #222;
}

/* end-product */

/* start-features */
#features {
    background: url(./image/3.jpg);
    background-attachment: fixed;
    background-size: 100%;
background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.overley {
    background-color: rgba(0, 0, 0, 70%);
}

.features__item {
    padding: 50px;
    border-radius: 12px;
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    transition: all 0.3s;
}

.features__item:hover {
    background: rgb(0, 0, 0);
    border: 1px solid white;
}

.features__item i {
    color: #35a22c;
    font-size: 3rem;
}

.features__item h3 {
    margin: 20px 0;
}

.features__title p {
    padding: 0 150px;
}

/* end-features */

/* start-award */
#award{
    background: url(./image/memphis_3.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 55%;
}
.overley__award{
    background-color: rgba(255, 255, 255, 0.5);
}
.award__item-1, .award__item-2{
    padding: 50px 15px;
}

.award__item-1__content{  
    height: 100%;
    padding: 50px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    
}
.award__item-2__content{
    padding: 50px 0;
}
.award__item-img img{
    width: 20%;
    padding: 10px;


}


/* end-award */

/* start-footer */
footer {
    background: #222;
}

.footer__icon a {
    color: white;
    text-decoration: none;
}

.footer__icon a i {
    color: rgba(255, 255, 255, 0.5);
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    line-height: 40px;
    transition: all 0.3s;
}

.footer__icon a i:hover {
    color: #35a22c;
    border: 1px solid #35a22c;
}

.coppy__right {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}

.coppy__right a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.coppy__right a:hover {
    color: #35a22c;
}

/* end-footer *